#block-views-exp-case-digest-page {
  @include center-column($desktop_column);
}

body.not-front {
  #content {
    .no-sidebar {
      .view-case-digest {
        .views-row {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.view-case-digest {
  .views-row {
    width: 100%;
    float: none;
    .case-law-digest-item-title {
      a {
        font-size: rem(26px);
      }
    }
  }
}
